https://www.linkedin.com/in/sivavishnu1/recent-activity/all/

In [2]:
import findspark
findspark.init()

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, when, count, column

In [4]:
# Initialize spark session
spark = SparkSession.builder.appName("PartitionManagement").getOrCreate()
spark

ğˆğ¦ğšğ ğ¢ğ§ğ ğ²ğ¨ğ® ğ¡ğšğ¯ğ ğš ğ¥ğšğ«ğ ğ ğğšğ­ğšğ¬ğğ­ ğ¥ğ¨ğšğğğ ğ¢ğ§ğ­ğ¨ ğ’ğ©ğšğ«ğ¤ ğšğ§ğ ğšğŸğ­ğğ« ğ©ğğ«ğŸğ¨ğ«ğ¦ğ¢ğ§ğ  ğ¬ğ¨ğ¦ğ ğ­ğ«ğšğ§ğ¬ğŸğ¨ğ«ğ¦ğšğ­ğ¢ğ¨ğ§ğ¬, ğ­ğ¡ğ ğğšğ­ğš ğ¢ğ¬ ğ«ğğ©ğšğ«ğ­ğ¢ğ­ğ¢ğ¨ğ§ğğ ğ¢ğ§ğ­ğ¨ ğŸğŸ ğ©ğšğ«ğ­ğ¢ğ­ğ¢ğ¨ğ§ğ¬. ğ˜ğ¨ğ® ğ§ğ¨ğ° ğ°ğšğ§ğ­ ğ­ğ¨ ğ©ğ«ğ¢ğ§ğ­ ğ­ğ¡ğ ğ©ğšğ«ğ­ğ¢ğ­ğ¢ğ¨ğ§ ğˆğƒğ¬ ğšğ¥ğ¨ğ§ğ  ğ°ğ¢ğ­ğ¡ ğ­ğ¡ğğ¢ğ« ğœğ¨ğ«ğ«ğğ¬ğ©ğ¨ğ§ğğ¢ğ§ğ  ğğšğ­ğš. ğ€ğğğ¢ğ­ğ¢ğ¨ğ§ğšğ¥ğ¥ğ², ğ²ğ¨ğ® ğ§ğğğ ğ­ğ¨ ğ«ğğ¦ğ¨ğ¯ğ ğ­ğ¡ğ ğğšğ­ğš ğŸğ«ğ¨ğ¦ ğ©ğšğ«ğ­ğ¢ğ­ğ¢ğ¨ğ§ğ¬ ğŸğŸ” ğ­ğ¨ ğŸğŸ.
ğˆğ¬ ğ­ğ¡ğ¢ğ¬ ğ©ğ¨ğ¬ğ¬ğ¢ğ›ğ¥ğ ğ¢ğ§ ğ’ğ©ğšğ«ğ¤? ğˆğŸ ğ¬ğ¨, ğ¡ğ¨ğ° ğ°ğ¨ğ®ğ¥ğ ğ²ğ¨ğ® ğ©ğ«ğ¢ğ§ğ­ ğ­ğ¡ğ ğ©ğšğ«ğ­ğ¢ğ­ğ¢ğ¨ğ§ ğˆğƒğ¬ ğšğ§ğ ğ«ğğ¦ğ¨ğ¯ğ ğ­ğ¡ğ ğğšğ­ğš ğŸğ«ğ¨ğ¦ ğ©ğšğ«ğ­ğ¢ğ­ğ¢ğ¨ğ§ğ¬ ğŸğŸ” ğ­ğ¨ ğŸğŸ ğ®ğ¬ğ¢ğ§ğ  ğğ²ğ’ğ©ğšğ«ğ¤? ğğ¥ğğšğ¬ğ ğğ±ğ©ğ¥ğšğ¢ğ§ ğ­ğ¡ğ ğ©ğ«ğ¨ğœğğ¬ğ¬ ğšğ§ğ ğ©ğ«ğ¨ğ¯ğ¢ğğ ğš ğ¬ğšğ¦ğ©ğ¥ğ ğœğ¨ğğ ğ­ğ¨ ğšğœğ¡ğ¢ğğ¯ğ ğ­ğ¡ğ¢ğ¬.

# ğ’ğ­ğğ©ğ¬ ğŸğ¨ğ« ğğ«ğ¢ğ§ğ­ğ¢ğ§ğ  ğğšğ«ğ­ğ¢ğ­ğ¢ğ¨ğ§ ğˆğƒğ¬ ğšğ§ğ ğƒğğ¥ğğ­ğ¢ğ§ğ  ğƒğšğ­ğš ğ¢ğ§ ğğšğ«ğ­ğ¢ğ­ğ¢ğ¨ğ§ğ¬ ğŸğŸ” ğ­ğ¨ ğŸğŸ:

"""1. View Partition IDs:
In order to view the partition IDs and the data within each partition, we can use the glom() method that groups the data within each partition into a list.

2. Deleting Data from Partitions 16 to 20:
Spark doesn't provide direct APIs for deleting specific partitions. However, we can manipulate the data by filtering out the data from the desired partitions (in this case, partitions 16-20). Here's the step-by-step approach:
Read and View Data Partitions: First, read the data into Spark and check how it is partitioned.

Use mapPartitionsWithIndex: This is a transformation that allows you to access the index of each partition and the corresponding data.
Filter out Partitions 16 to 20: Based on the partition index, we can filter out the unwanted partitions.

Repartition: If necessary, repartition the data after filtering out the partitions you don't need.
"""

In [31]:
data = [(1, 'Alice', 30),
       (2, 'Bob', 25),
       (3, 'Charlie', 35),
       (4, 'David', 40),
       (5, 'Eve', 22),
       (6, 'Frank', 28),
       (7, 'Grace', 32),
       (8, 'Hannah', 26),
       (9, 'Ivy', 24),
       (10, 'Jack', 27),
       (11, 'Kara', 29),
       (12, 'Lian', 31),
       (13, 'Mia', 33),
       (14, 'Nina', 34),
       (15, 'Oliver', 36),
       (16, 'Paul', 37),
       (17, 'Quinn', 38),
       (18, 'Rita', 39),
       (19, 'Steve', 41),
       (20, 'Tom', 42),
       (21, 'Nina', 34),
       (22, 'Oliver', 36),
       (23, 'Paul', 37),
       (24, 'Quinn', 38),
       (25, 'Rita', 39),
       (26, 'Steve', 41),
       (27, 'Tom', 42),
       (28, 'Tom', 42),
       (29, 'Nina', 34),
       (30, 'Oliver', 36),
       (31, 'Paul', 37),
       (32, 'Quinn', 38),
       (33, 'Rita', 39),
       (34, 'Steve', 41),
       (35, 'Tom', 42)]
# Add more data to simulate large dataset

# Columns for the DataFrame
columns = ['id', 'name', 'age']

# Create DataFrame from the sample data 
df = spark.createDataFrame(data, columns) 
df.show()

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  1|  Alice| 30|
|  2|    Bob| 25|
|  3|Charlie| 35|
|  4|  David| 40|
|  5|    Eve| 22|
|  6|  Frank| 28|
|  7|  Grace| 32|
|  8| Hannah| 26|
|  9|    Ivy| 24|
| 10|   Jack| 27|
| 11|   Kara| 29|
| 12|   Lian| 31|
| 13|    Mia| 33|
| 14|   Nina| 34|
| 15| Oliver| 36|
| 16|   Paul| 37|
| 17|  Quinn| 38|
| 18|   Rita| 39|
| 19|  Steve| 41|
| 20|    Tom| 42|
+---+-------+---+
only showing top 20 rows

In [32]:
# Repartition DataFrame into 20 partitions
df_repartitioned = df.repartition(20)
df_repartitioned

DataFrame[id: bigint, name: string, age: bigint]

In [33]:
# Show the number of partitions in the DataFrame
num_partitions = df_repartitioned.rdd.getNumPartitions()
num_partitions

20

In [34]:
# Print the data in each partition using glom()
# glom() groups the data in each patition as a list

partitions_data = df_repartitioned.rdd.glom().collect()
partitions_data

[[],
 [Row(id=30, name='Oliver', age=36)],
 [Row(id=34, name='Steve', age=41)],
 [Row(id=29, name='Nina', age=34)],
 [Row(id=8, name='Hannah', age=26), Row(id=33, name='Rita', age=39)],
 [Row(id=6, name='Frank', age=28), Row(id=35, name='Tom', age=42)],
 [Row(id=7, name='Grace', age=32),
  Row(id=21, name='Nina', age=34),
  Row(id=31, name='Paul', age=37)],
 [Row(id=5, name='Eve', age=22),
  Row(id=23, name='Paul', age=37),
  Row(id=32, name='Quinn', age=38)],
 [Row(id=14, name='Nina', age=34), Row(id=24, name='Quinn', age=38)],
 [Row(id=2, name='Bob', age=25),
  Row(id=11, name='Kara', age=29),
  Row(id=13, name='Mia', age=33),
  Row(id=22, name='Oliver', age=36)],
 [Row(id=3, name='Charlie', age=35),
  Row(id=9, name='Ivy', age=24),
  Row(id=15, name='Oliver', age=36)],
 [Row(id=1, name='Alice', age=30),
  Row(id=12, name='Lian', age=31),
  Row(id=16, name='Paul', age=37),
  Row(id=27, name='Tom', age=42)],
 [Row(id=4, name='David', age=40),
  Row(id=10, name='Jack', age=27),
  Row(id=26, name='Steve', age=41)],
 [Row(id=28, name='Tom', age=42)],
 [Row(id=19, name='Steve', age=41), Row(id=25, name='Rita', age=39)],
 [Row(id=17, name='Quinn', age=38)],
 [Row(id=18, name='Rita', age=39)],
 [Row(id=20, name='Tom', age=42)],
 [],
 []]

In [35]:
# Print partition IDs and their corresponding data 
for idx, partition in enumerate(partitions_data):
    print(f"Partition ID: {idx}, Data: {partition}")

Partition ID: 0, Data: []
Partition ID: 1, Data: [Row(id=30, name='Oliver', age=36)]
Partition ID: 2, Data: [Row(id=34, name='Steve', age=41)]
Partition ID: 3, Data: [Row(id=29, name='Nina', age=34)]
Partition ID: 4, Data: [Row(id=8, name='Hannah', age=26), Row(id=33, name='Rita', age=39)]
Partition ID: 5, Data: [Row(id=6, name='Frank', age=28), Row(id=35, name='Tom', age=42)]
Partition ID: 6, Data: [Row(id=7, name='Grace', age=32), Row(id=21, name='Nina', age=34), Row(id=31, name='Paul', age=37)]
Partition ID: 7, Data: [Row(id=5, name='Eve', age=22), Row(id=23, name='Paul', age=37), Row(id=32, name='Quinn', age=38)]
Partition ID: 8, Data: [Row(id=14, name='Nina', age=34), Row(id=24, name='Quinn', age=38)]
Partition ID: 9, Data: [Row(id=2, name='Bob', age=25), Row(id=11, name='Kara', age=29), Row(id=13, name='Mia', age=33), Row(id=22, name='Oliver', age=36)]
Partition ID: 10, Data: [Row(id=3, name='Charlie', age=35), Row(id=9, name='Ivy', age=24), Row(id=15, name='Oliver', age=36)]
Partition ID: 11, Data: [Row(id=1, name='Alice', age=30), Row(id=12, name='Lian', age=31), Row(id=16, name='Paul', age=37), Row(id=27, name='Tom', age=42)]
Partition ID: 12, Data: [Row(id=4, name='David', age=40), Row(id=10, name='Jack', age=27), Row(id=26, name='Steve', age=41)]
Partition ID: 13, Data: [Row(id=28, name='Tom', age=42)]
Partition ID: 14, Data: [Row(id=19, name='Steve', age=41), Row(id=25, name='Rita', age=39)]
Partition ID: 15, Data: [Row(id=17, name='Quinn', age=38)]
Partition ID: 16, Data: [Row(id=18, name='Rita', age=39)]
Partition ID: 17, Data: [Row(id=20, name='Tom', age=42)]
Partition ID: 18, Data: []
Partition ID: 19, Data: []

In [36]:
# Now let's filter out partitions 16 to 20 using mapPartitionsWithIndex
#This will allow us to access the partition index and filter out unwanted partitions. 

def filter_partition_data(index, iterator):
    # keep data only for partitions 0 to 15 (excluding partitions 16 to 20)
    if index < 16:
        yield from iterator

In [37]:
# Apply the filter functions to remove data from partitions 10 to 20 

filtered_rdd = df_repartitioned.rdd.mapPartitionsWithIndex(filter_partition_data)

In [66]:
# Convert the filtered RDD back to DataFrame 
filtered_df = spark.createDataFrame(filtered_rdd, columns) 
filtered_df.show()

+---+-------+---+
| id|   name|age|
+---+-------+---+
| 30| Oliver| 36|
| 34|  Steve| 41|
| 29|   Nina| 34|
|  8| Hannah| 26|
| 33|   Rita| 39|
|  6|  Frank| 28|
| 35|    Tom| 42|
|  7|  Grace| 32|
| 21|   Nina| 34|
| 31|   Paul| 37|
|  5|    Eve| 22|
| 23|   Paul| 37|
| 32|  Quinn| 38|
| 14|   Nina| 34|
| 24|  Quinn| 38|
|  2|    Bob| 25|
| 11|   Kara| 29|
| 13|    Mia| 33|
| 22| Oliver| 36|
|  3|Charlie| 35|
+---+-------+---+
only showing top 20 rows

ğ‡ğ¨ğ° ğ°ğ¨ğ®ğ¥ğ ğ²ğ¨ğ® ğ¡ğšğ§ğğ¥ğ ğ¦ğ¢ğ¬ğ¬ğ¢ğ§ğ  ğ¨ğ« ğ¢ğ§ğ¯ğšğ¥ğ¢ğ ğğšğ­ğš ğ¢ğ§ ğš ğğšğ­ğš ğ©ğ¢ğ©ğğ¥ğ¢ğ§ğ ğ®ğ¬ğ¢ğ§ğ  ğ©ğ²ğ¬ğ©ğšğ«ğ¤?

ğŠğğ² ğ‡ğšğ§ğğ¥ğ¢ğ§ğ  ğ“ğğœğ¡ğ§ğ¢ğªğ®ğğ¬:

1, Dropping Missing Values

2, Filling Missing Values

3, Replacing Invalid Data

4, Handling Invalid Data Types

Handling null values is a crucial part of data preprocessing in PySpark. Null values can arise due to missing data or errors during data collection, and they can impact the quality of your analysis and processing. PySpark provides several functions to manage null values, such as dropna() to remove rows with nulls, fillna() to replace null values with specified defaults, and filter() to select rows based on the presence of nulls. You can also use conditional expressions like when() to replace null values with different values depending on certain conditions. Proper handling of null values ensures better data integrity and more accurate results in your Spark processing pipeline.

In [13]:
data = [(1, 'Alice', 25, None), (2, 'Bob', None, 4000), (3, 'Charlie', 30, 4500), (4, None, None, 5000), (5, 'Eve', 28, -1000)] 
columns = ['id', 'name', 'age', 'salary'] 
df = spark.createDataFrame(data, columns) 
df.show()

+---+-------+----+------+
| id|   name| age|salary|
+---+-------+----+------+
|  1|  Alice|  25|  NULL|
|  2|    Bob|NULL|  4000|
|  3|Charlie|  30|  4500|
|  4|   NULL|NULL|  5000|
|  5|    Eve|  28| -1000|
+---+-------+----+------+

In [14]:
# Dropping rows with missing or null values in any column

df_dropped = df.dropna() 
df_dropped.show()

+---+-------+---+------+
| id|   name|age|salary|
+---+-------+---+------+
|  3|Charlie| 30|  4500|
|  5|    Eve| 28| -1000|
+---+-------+---+------+

In [15]:
# Filling missing values (null) with a specified value

df_filled = df.fillna({'age':0, 'salary':3000, 'name':'Unknown'})
df_filled.show()

+---+-------+---+------+
| id|   name|age|salary|
+---+-------+---+------+
|  1|  Alice| 25|  3000|
|  2|    Bob|  0|  4000|
|  3|Charlie| 30|  4500|
|  4|Unknown|  0|  5000|
|  5|    Eve| 28| -1000|
+---+-------+---+------+

In [16]:
# Replacing invalid data (e.g., salary <0) with a valid value (e.g., 0)

df_invallid_replaced = df_filled.withColumn('salary', when(col('salary') <0, 0).otherwise(col('salary')))
df_invallid_replaced.show()

+---+-------+---+------+
| id|   name|age|salary|
+---+-------+---+------+
|  1|  Alice| 25|  3000|
|  2|    Bob|  0|  4000|
|  3|Charlie| 30|  4500|
|  4|Unknown|  0|  5000|
|  5|    Eve| 28|     0|
+---+-------+---+------+

In [17]:
# Handling invalid data types (e.g., if age is not an integer) 
# For this, we would attempt to cast age to an integer and filter out rows with invalid age data

df_invalid_age_handled = df.withColumn('age', when(col('age').cast('int').isNotNull(), col('age')).otherwise(0))
df_invalid_age_handled.show()

+---+-------+---+------+
| id|   name|age|salary|
+---+-------+---+------+
|  1|  Alice| 25|  NULL|
|  2|    Bob|  0|  4000|
|  3|Charlie| 30|  4500|
|  4|   NULL|  0|  5000|
|  5|    Eve| 28| -1000|
+---+-------+---+------+

In [18]:
# Handling missing values in a specific column (e.g., age), without affecting other columns

df_age_filled = df.fillna({'age':0})
df_age_filled.show()

+---+-------+---+------+
| id|   name|age|salary|
+---+-------+---+------+
|  1|  Alice| 25|  NULL|
|  2|    Bob|  0|  4000|
|  3|Charlie| 30|  4500|
|  4|   NULL|  0|  5000|
|  5|    Eve| 28| -1000|
+---+-------+---+------+

In [19]:
# Checking how many nulls are present in each column before and after cleaning

df.select([count(when(col(c).isNull(), c)).alias(c) for c in df.columns]).show()

+---+----+---+------+
| id|name|age|salary|
+---+----+---+------+
|  0|   1|  2|     1|
+---+----+---+------+

In [20]:
# count of Null values after handling.

df_invallid_replaced.select([count(when(col(c).isNull(), c)).alias(c) for c in df_invallid_replaced.columns]).show()

+---+----+---+------+
| id|name|age|salary|
+---+----+---+------+
|  0|   0|  0|     0|
+---+----+---+------+

In [29]:
df.count() == 0

False

In [92]:
data = [("John", 'Math', 75, "Present"),
        ('Martin', 'Science', None, "Absent"),
        ('Sarah', 'History', 85, None),
        ('Alex', "Math", None, "Present"),
        ('Eve', 'Math', 90, 'Absent')] 
columns = ['Name', 'Subject', 'Mark', 'Attendance'] 
df = spark.createDataFrame(data, columns) 
df.show()

+------+-------+----+----------+
|  Name|Subject|Mark|Attendance|
+------+-------+----+----------+
|  John|   Math|  75|   Present|
|Martin|Science|NULL|    Absent|
| Sarah|History|  85|      NULL|
|  Alex|   Math|NULL|   Present|
|   Eve|   Math|  90|    Absent|
+------+-------+----+----------+

In [93]:
# Filter using isNotNull
df_not_null = df.filter(col('Mark').isNotNull())
df_not_null.show()

+-----+-------+----+----------+
| Name|Subject|Mark|Attendance|
+-----+-------+----+----------+
| John|   Math|  75|   Present|
|Sarah|History|  85|      NULL|
|  Eve|   Math|  90|    Absent|
+-----+-------+----+----------+

In [94]:
# Filter using 'OR'
df_not_null_either = df.filter(col('Mark').isNotNull() | col('Attendance').isNotNull())
df_not_null_either.show()

+------+-------+----+----------+
|  Name|Subject|Mark|Attendance|
+------+-------+----+----------+
|  John|   Math|  75|   Present|
|Martin|Science|NULL|    Absent|
| Sarah|History|  85|      NULL|
|  Alex|   Math|NULL|   Present|
|   Eve|   Math|  90|    Absent|
+------+-------+----+----------+

In [95]:
df_drp = df.dropna(subset= ['Mark'])
df_drp.show()

+-----+-------+----+----------+
| Name|Subject|Mark|Attendance|
+-----+-------+----+----------+
| John|   Math|  75|   Present|
|Sarah|History|  85|      NULL|
|  Eve|   Math|  90|    Absent|
+-----+-------+----+----------+

# ğ‘ğğ©ğšğ«ğ­ğ¢ğ­ğ¢ğ¨ğ§ ğ¯ğ¬. ğ‚ğ¨ğšğ¥ğğ¬ğœğ:

In [68]:
data = [('Alice', 1), ('Bob',2), ('Charlie', 3), ('David', 4), ('Eva', 5), ('Frank', 6)] 
columns = ['name', 'id'] 
df = spark.createDataFrame(data, columns) 
df.show()

+-------+---+
|   name| id|
+-------+---+
|  Alice|  1|
|    Bob|  2|
|Charlie|  3|
|  David|  4|
|    Eva|  5|
|  Frank|  6|
+-------+---+

In [73]:
print('Number of partitions before repartitioning:', df.rdd.getNumPartitions())

Number of partitions before repartitioning: 8

In [74]:
# Repartitioning the dataframe into 4 partitions for parallelism 
df_repartitioned = df.repartition(4)
df_repartitioned

DataFrame[name: string, id: bigint]

In [75]:
df_repartitioned.rdd.getNumPartitions()

4

In [77]:
# Perform a transformation (filtering) to check data
df_filtered = df_repartitioned.filter(col('id') > 2)
df_filtered.show()

+-------+---+
|   name| id|
+-------+---+
|  David|  4|
|    Eva|  5|
|  Frank|  6|
|Charlie|  3|
+-------+---+

In [79]:
# Coalescing the partitions after filtering (reducing to 2 partitions for optimization)
df_coaleasced = df_filtered.coalesce(2)
print(df_coaleasced.rdd.getNumPartitions())
df_coaleasced.show()

2
+-------+---+
|   name| id|
+-------+---+
|  David|  4|
|    Eva|  5|
|Charlie|  3|
|  Frank|  6|
+-------+---+

In [80]:
# Perform a join with another Dataframe to demonstrate partitioning in action

data2 = [('Alice', 'HR'), ("Bob", "Finance"), ("Charlie","Engineering"), ('David', 'HR'), ("Eva", "Engineering")]
column2 = ['name', 'department']
df2 = spark.createDataFrame(data2, column2)
df2.show()

+-------+-----------+
|   name| department|
+-------+-----------+
|  Alice|         HR|
|    Bob|    Finance|
|Charlie|Engineering|
|  David|         HR|
|    Eva|Engineering|
+-------+-----------+

In [82]:
# Repartition the second dataframe by 'name' to align partitioning for a more efficient join

df2_partitioned = df2.repartition('name')
df2_partitioned

DataFrame[name: string, department: string]

In [84]:
df_joined = df_repartitioned.join(df2_partitioned, on='name', how='inner')
df_joined.show()

+-------+---+-----------+
|   name| id| department|
+-------+---+-----------+
|  Alice|  1|         HR|
|    Bob|  2|    Finance|
|Charlie|  3|Engineering|
|  David|  4|         HR|
|    Eva|  5|Engineering|
+-------+---+-----------+

# Checkpoint

In [85]:
data = [(1, 'Alice', 30), (2, 'Bob', 25), (3, 'Charlie', 35), (4, 'David', 40), (5, 'Eve', 22)] 
columns = ['id', 'name', 'age'] 
df = spark.createDataFrame(data, columns) 
df.show()

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  1|  Alice| 30|
|  2|    Bob| 25|
|  3|Charlie| 35|
|  4|  David| 40|
|  5|    Eve| 22|
+---+-------+---+

In [86]:
# Setting the checkpoint directory 
checkpoint_dir = 'file:///temp/spark_checkpoints' # Local file system checkpoint directory
spark.sparkContext.setCheckpointDir(checkpoint_dir)

In [87]:
# Perform transformations 
df_trns = df.filter(col('age') > 25).withColumn('age_plus_ten', col('age') + 10)
df_trns.show()

+---+-------+---+------------+
| id|   name|age|age_plus_ten|
+---+-------+---+------------+
|  1|  Alice| 30|          40|
|  3|Charlie| 35|          45|
|  4|  David| 40|          50|
+---+-------+---+------------+

In [88]:
# checkpoint the traansformed dataframe
df_trns = df_trns.checkpoint()

In [90]:
df_trns.show()

+---+-------+---+------------+
| id|   name|age|age_plus_ten|
+---+-------+---+------------+
|  1|  Alice| 30|          40|
|  3|Charlie| 35|          45|
|  4|  David| 40|          50|
+---+-------+---+------------+

In [91]:
# perform another transformation on the checkpointed dataframe
df_final = df_trns.withColumn('age_times_two', col('age') *2)
df_final.show()

# Simulating a failure to see checkpoint recovery
# Uncommetn the line below to simulate a failure after checkpointing
# raise Exception ('Simulating a job failure after checkpointing')

+---+-------+---+------------+-------------+
| id|   name|age|age_plus_ten|age_times_two|
+---+-------+---+------------+-------------+
|  1|  Alice| 30|          40|           60|
|  3|Charlie| 35|          45|           70|
|  4|  David| 40|          50|           80|
+---+-------+---+------------+-------------+

In [6]:
customers_data = [(1, 'Alice', 'alice@example.com'),
                 (2, 'Bob', 'bob@example.com'),
                 (3, 'Charlie', 'charlie@example.com')]
customers_columns = ['customer_id', 'name', 'email']

orders_data = [(101, 1, 1001, '2023-01-01'),
              (102, 2, 1002, '2023-01-05'),
              (103, 3, 1001, '2023-01-10')]
orders_columns = ['order_id', 'customer_id', 'product_id', 'order_date']

products_data = [(1001, 'Laptop', 'Electronics'),
                (1002, 'Shoes', 'Apparel')]
products_columns = ['product_id', 'product_name', 'category']

payments_data = [ (1, 101, 1200.50, 'Completed'),
                (2, 102, 50.00, 'Pending'),
                (3, 103, 1200.50, 'Completed')]
payments_columns = ['payment_id', 'order_id', 'amount', 'payment_status']


df_customers = spark.createDataFrame(customers_data, customers_columns)
df_orders = spark.createDataFrame(orders_data, orders_columns)
df_products = spark.createDataFrame(products_data, products_columns)
df_payments = spark.createDataFrame(payments_data, payments_columns)

In [7]:
df_joined = df_orders.join(df_customers, on='customer_id', how='inner')
df_joined = df_joined.join(df_products, on='product_id', how='inner')
df_joined = df_joined.join(df_payments, on = 'order_id', how='inner')

In [8]:
df_joined.select(
    'name', 'email', 'order_id', 'order_date', 'product_name', 'category', 'amount', 'payment_status').show()

+-------+-------------------+--------+----------+------------+-----------+------+--------------+
|   name|              email|order_id|order_date|product_name|   category|amount|payment_status|
+-------+-------------------+--------+----------+------------+-----------+------+--------------+
|  Alice|  alice@example.com|     101|2023-01-01|      Laptop|Electronics|1200.5|     Completed|
|    Bob|    bob@example.com|     102|2023-01-05|       Shoes|    Apparel|  50.0|       Pending|
|Charlie|charlie@example.com|     103|2023-01-10|      Laptop|Electronics|1200.5|     Completed|
+-------+-------------------+--------+----------+------------+-----------+------+--------------+