In [1]:
import findspark
findspark.init()

In [2]:
import pyspark
import pandas as pd

In [3]:
df = pd.read_csv('test1.csv')
df.head()

      Name  age  Experience
0  shambhu   33          10
1   mahesh   34           8
2   natraj   35           5
3   kishor   28           3
4   vishal   29           5

In [4]:
df.Experience.dtype

dtype('int64')

In [12]:
df.age.astype('int32')

0     33
1     34
2     35
3     28
4     29
5     27
6      2
7      3
8      4
9      5
10     6
11     7
12     8
13     9
Name: age, dtype: int32

In [13]:
df.Experience.map(lambda x: str(int(x)))

0     10
1      8
2      5
3      3
4      5
5      6
6      9
7      8
8      7
9      6
10     5
11     4
12     3
13     2
Name: Experience, dtype: object

In [104]:
df.Experience.dtype

dtype('int64')

In [105]:
type(df)

pandas.core.frame.DataFrame

In [8]:
from pyspark.sql import SparkSession

In [9]:
spark = SparkSession.builder.appName('Pract').getOrCreate()
spark

In [108]:
a = spark.read.option('header', 'true').csv('test1.csv')
a.show()

+-------+---+----------+
|   Name|age|Experience|
+-------+---+----------+
|shambhu| 33|        10|
| mahesh| 34|         8|
| natraj| 35|         5|
| kishor| 28|         3|
| vishal| 29|         5|
|vaibhav| 27|         6|
|      a|  2|         9|
|      b|  3|         8|
|      v|  4|         7|
|      d|  5|         6|
|      e|  6|         5|
|      f|  7|         4|
|      g|  8|         3|
|      h|  9|         2|
+-------+---+----------+

In [109]:
df_sp = spark.read.csv('test1.csv')
df_sp.show()

+-------+---+----------+
|    _c0|_c1|       _c2|
+-------+---+----------+
|   Name|age|Experience|
|shambhu| 33|        10|
| mahesh| 34|         8|
| natraj| 35|         5|
| kishor| 28|         3|
| vishal| 29|         5|
|vaibhav| 27|         6|
|      a|  2|         9|
|      b|  3|         8|
|      v|  4|         7|
|      d|  5|         6|
|      e|  6|         5|
|      f|  7|         4|
|      g|  8|         3|
|      h|  9|         2|
+-------+---+----------+

In [110]:
df_sp

DataFrame[_c0: string, _c1: string, _c2: string]

In [111]:
type(df_sp)

pyspark.sql.dataframe.DataFrame

In [11]:
df_sp.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: string (nullable = true)

In [14]:
df_sp = spark.read.option('header','true').csv('test1.csv', inferSchema=True)
df_sp.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [114]:
df_sp.columns

['Name', 'age', 'Experience']

In [115]:
df_sp.select('Name')

DataFrame[Name: string]

In [116]:
df_sp.select('Name').show()

+-------+
|   Name|
+-------+
|shambhu|
| mahesh|
| natraj|
| kishor|
| vishal|
|vaibhav|
|      a|
|      b|
|      v|
|      d|
|      e|
|      f|
|      g|
|      h|
+-------+

In [117]:
df_sp.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int')]

In [118]:
df_sp.describe().show()

+-------+------+------------------+------------------+
|summary|  Name|               age|        Experience|
+-------+------+------------------+------------------+
|  count|    14|                14|                14|
|   mean|  NULL|16.428571428571427| 5.785714285714286|
| stddev|  NULL| 13.38606787622165|2.3916062008157244|
|    min|     a|                 2|                 2|
|    max|vishal|                35|                10|
+-------+------+------------------+------------------+

In [96]:
# adding the column

In [119]:
df_sp = df_sp.withColumn('Experience after 2 years', df_sp['Experience']+2)
df_sp.show()

+-------+---+----------+------------------------+
|   Name|age|Experience|Experience after 2 years|
+-------+---+----------+------------------------+
|shambhu| 33|        10|                      12|
| mahesh| 34|         8|                      10|
| natraj| 35|         5|                       7|
| kishor| 28|         3|                       5|
| vishal| 29|         5|                       7|
|vaibhav| 27|         6|                       8|
|      a|  2|         9|                      11|
|      b|  3|         8|                      10|
|      v|  4|         7|                       9|
|      d|  5|         6|                       8|
|      e|  6|         5|                       7|
|      f|  7|         4|                       6|
|      g|  8|         3|                       5|
|      h|  9|         2|                       4|
+-------+---+----------+------------------------+

In [120]:
df_sp = df_sp.drop('Experience after 2 years')
df_sp.show()

+-------+---+----------+
|   Name|age|Experience|
+-------+---+----------+
|shambhu| 33|        10|
| mahesh| 34|         8|
| natraj| 35|         5|
| kishor| 28|         3|
| vishal| 29|         5|
|vaibhav| 27|         6|
|      a|  2|         9|
|      b|  3|         8|
|      v|  4|         7|
|      d|  5|         6|
|      e|  6|         5|
|      f|  7|         4|
|      g|  8|         3|
|      h|  9|         2|
+-------+---+----------+

In [121]:
# Rename the columns

In [15]:
spark.stop()