In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Pyspark_groupby').getOrCreate()

In [4]:
df = spark.read.csv('test4.csv', header=True, inferSchema=True)
df.show()

+---------+------------+------+
|     Name| Departments|Salary|
+---------+------------+------+
|   Kishor|Data Science| 10000|
|   Kishor|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|   kishor|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|      Ram|Data Science| 10000|
|      Ram|    Big Data|  2000|
+---------+------------+------+

In [5]:
df.createOrReplaceTempView('people')

In [6]:
df1 = spark.sql('select name, Departments, Salary from people')
df1.count()

10

In [18]:
a, b = df1.randomSplit([0.5, .5],1)

In [19]:
a.show()
b.show()

+---------+------------+------+
|     name| Departments|Salary|
+---------+------------+------+
|   Mahesh|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|    Big Data|  5000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
+---------+------------+------+

+------+------------+------+
|  name| Departments|Salary|
+------+------------+------+
|Kishor|Data Science| 10000|
|Kishor|         IOT|  5000|
|   Ram|    Big Data|  2000|
|   Ram|Data Science| 10000|
|kishor|    Big Data|  4000|
+------+------------+------+

In [14]:
import pandas as pd

In [15]:
a.toPandas()

        name   Departments  Salary
0     Mahesh      Big Data    4000
1     Mahesh  Data Science    3000
2  Sudhanshu      Big Data    5000
3  Sudhanshu  Data Science   20000
4  Sudhanshu           IOT   10000

In [16]:
b.show()

+------+------------+------+
|  name| Departments|Salary|
+------+------------+------+
|Kishor|Data Science| 10000|
|Kishor|         IOT|  5000|
|   Ram|    Big Data|  2000|
|   Ram|Data Science| 10000|
|kishor|    Big Data|  4000|
+------+------------+------+

In [17]:
df1.show()

+---------+------------+------+
|     name| Departments|Salary|
+---------+------------+------+
|   Kishor|Data Science| 10000|
|   Kishor|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|   kishor|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|      Ram|Data Science| 10000|
|      Ram|    Big Data|  2000|
+---------+------------+------+

In [18]:
df.filter(df['Salary'] < 10).show()
df.filter(df['Salary'] > 10).show()

+----+-----------+------+
|Name|Departments|Salary|
+----+-----------+------+
+----+-----------+------+

+---------+------------+------+
|     Name| Departments|Salary|
+---------+------------+------+
|   Kishor|Data Science| 10000|
|   Kishor|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|   kishor|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|      Ram|Data Science| 10000|
|      Ram|    Big Data|  2000|
+---------+------------+------+

In [19]:
# GroupBy

In [20]:
df.groupBy('Name').sum().show()

+---------+-----------+
|     Name|sum(Salary)|
+---------+-----------+
|   kishor|       4000|
|Sudhanshu|      35000|
|      Ram|      12000|
|   Kishor|      15000|
|   Mahesh|       7000|
+---------+-----------+

In [23]:
df.groupBy('Departments').sum().show()
df.groupBy('Departments').mean().show()
df.groupBy('Departments').count().show()

+------------+-----------+
| Departments|sum(Salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

+------------+-----------+
| Departments|avg(Salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [24]:
df.agg({'Salary':'sum'}).show()
df.agg({'Salary': 'count'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+

In [26]:
df.groupby('Name').max().show()

+---------+-----------+
|     Name|max(Salary)|
+---------+-----------+
|   kishor|       4000|
|Sudhanshu|      20000|
|      Ram|      10000|
|   Kishor|      10000|
|   Mahesh|       4000|
+---------+-----------+

In [27]:
df.groupby('Name').min().show()

+---------+-----------+
|     Name|min(Salary)|
+---------+-----------+
|   kishor|       4000|
|Sudhanshu|       5000|
|      Ram|       2000|
|   Kishor|       5000|
|   Mahesh|       3000|
+---------+-----------+

In [20]:
spark.stop()