Question: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [1]:
l=[]
for i in range(2000, 3201):
    if (i % 7) == 0 and (i % 5 != 0):
        l.append(str(i))
print(','.join(l))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

Question: Write a program which can compute the factorial of a given numbers. The results should be printed in a comma-separated sequence on a single line. Suppose the following input is supplied to the program: 8 Then, the output should be: 40320

In [2]:
n = 4 
l1 = [] 
f = 1
for i in range(1, n+1):
    f = f*i 
    l1.append(str(f)) 

(','.join(l1))

'1,2,6,24'

In [3]:
def fact(x):
    if x == 0:
        return 1
    return x * fact(x - 1)

#x=int(input())
x=4
print(fact(x))

24

With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary. Suppose the following input is supplied to the program: 8 Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary. Suppose the following input is supplied to the program: 8 Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [4]:
d = {}
for i in range(1, 9):
    d[i]= i*i
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number. Suppose the following input is supplied to the program: 34,67,55,33,12,98 Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

In [5]:
#i = input()
i = "1,2,3,4,5"
l = i.split(',')
t = tuple(l)
print(l)
print(t)

['1', '2', '3', '4', '5']
('1', '2', '3', '4', '5')

Define a class which has at least two methods: getString: to get a string from console input printString: to print the string in upper case. Also please include simple test function to test the class methods.

In [121]:
class Newc():
    def __init__(self):
        self.n = "1"
        
    def getstring(self):
        self.n = 'kishor'
        
    def prints(self):
        print(self.n.upper())
        
sobj = Newc()
sobj.getstring()
sobj.prints()

KISHOR

 Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically. Suppose the following input is supplied to the program: without,hello,bag,world Then, the output should be: bag,hello,without,world

In [7]:
i = [x for x in input().split(',')]
i.sort()
print(','.join(i))

kisho,thakre,ridhora
kisho,ridhora,thakre

Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically. Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again Then, the output should be: again and hello makes perfect practice world

In [8]:
#s = input()
s = 'kishor kishor'
words = [word for word in s.split(' ')]
' '.join(sorted(list(set(words))))

'kishor'

Write a program that accepts a sentence and calculate the number of letters and digits. Suppose the following input is supplied to the program: hello world! 123 Then, the output should be: LETTERS 10 DIGITS 3

In [9]:
n = 'hello world 123'
d = {'word':0, 'digit':0}
for i in n:
    if i.isdigit():
        d['digit'] += 1
    elif i.isalpha():
        d['word'] += 1
    else:
        pass 
d

{'word': 10, 'digit': 3}

Write a program that accepts a sentence and calculate the number of upper case letters and lower case letters. Suppose the following input is supplied to the program: Hello world! Then, the output should be: UPPER CASE 1 LOWER CASE 9

In [10]:
n = 'Hello world'
d = {'upper':0, 'lower':0}
for i in n:
    if i.isupper():
        d['upper'] += 1
    elif i.islower():
        d['lower'] += 1
    else:
        pass 
print('Upper case:', d['upper'])
d

Upper case: 1

{'upper': 1, 'lower': 9}

Write a program that computes the value of a+aa+aaa+aaaa with a given digit as the value of a. Suppose the following input is supplied to the program: 9 Then, the output should be: 11106

In [11]:
a = 9 
n1 = int( "%s" % a )
n2 = int( "%s%s" % (a,a) )
n3 = int( "%s%s%s" % (a,a,a) )
n4 = int( "%s%s%s%s" % (a,a,a,a) )

print(n1+n2+n3+n4)

11106

Use a list comprehension to square each odd number in a list. The list is input by a sequence of comma-separated numbers. Suppose the following input is supplied to the program: 1,2,3,4,5,6,7,8,9 Then, the output should be: 1,3,5,7,9

In [12]:
#s = (input().split(',')) 

#n =1,2,3,4,5,6,7,8,9 
#a = [i for i in n if int(i) % 2 != 0]
s = "1,2,3,4,5,6,7,8,9"
a = [i for i in s.split(',') if int(i) % 2 != 0]
print(','.join(a))

1,3,5,7,9

In [13]:
def reverse(n):
    i = 0
    while i<n:
        j=i
        i=i+1
        if j%7==0:
            yield j

for i in reverse(100):
    print(i)

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [14]:
class Person:
    # Define the class parameter "name"
    name = "Person"
    
    def __init__(self, name = None):
        # self.name is the instance parameter
        self.name = name

jeffrey = Person("Jeffrey")
print("%s name is %s" % (Person.name, jeffrey.name))

nico = Person()
nico.name = "Nico"
print("%s name is %s" % (Person.name, nico.name))

Person name is Jeffrey
Person name is Nico

In [1]:
li = [1,2,3,4,5,6,7,8,9,10]
evenNumbers = map(lambda x: x**2, filter(lambda x: x%2==0, li))
for i in evenNumbers:
    print(i)

4
16
36
64
100

In [5]:
a = filter(lambda x:x in ('aeiouu'), 'kishor')
[i for i in a]

['i', 'o']

In [2]:
e = filter(lambda x: x%2 == 0, range(1,21))
[i for i in e]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [17]:
#raise RuntimeError('something wrong')

In [18]:
def throws():
    return 5/0
try:
    throws() 
    
except ZeroDivisionError:
    print('division by zero!')

except Exception as err:
    print('Caught an exception')
finally:
    print('In finally block for cleanup')

division by zero!
In finally block for cleanup

In [19]:
def throws():
    return 5/a
try:
    throws() 
    
except ZeroDivisionError:
    print('division by zero!')

except Exception as err:
    print('Caught an exception')
finally:
    print('In finally block for cleanup')

Caught an exception
In finally block for cleanup

In [20]:
import re
s = '1.kishor, 2thakre'
print(re.findall("\d+",s))

['1', '2']

In [21]:
def swap(l):
    size = len(l)
    temp = l[0]
    l[0] = l[size-1]
    l[size-1]=temp
    
    return l
    
l = [12,35,9,56,24]
print(swap(l))

l[0],l[-1] = l[-1],l[0]
l

[24, 35, 9, 56, 12]

[12, 35, 9, 56, 24]

In [22]:
# as a pair in a tuple variable get
get = l[-1], l[0]

# unpacking those elements
l[0], l[-1] = get
l

[24, 35, 9, 56, 12]

In [23]:
l =[1,2,3,4]
a, *b, c= l
print(a)
print(b)
print(c)

1
[2, 3]
4

In [24]:
start, *middle, end = l
l = [end, *middle, start]
l

[4, 2, 3, 1]

# Prime number 
A positive integer greater than 1 which has no other factors except 1 and the number itself is called prime number 2,3,5

In [25]:
num = 5
flag= False
if num >1:
    for i in range(2, num):
        if (num %i) == 0:
            flag = True 
            break 
if flag:
    print(num, 'is not a prime number')
else:
    print(num, 'is a prime number')

5 is a prime number

In [26]:
num = 5
if num  == 1:
    print(num, 'is not a prime number')
elif num>1:
    for i in range(2, num):
        if (num %i) == 0:
            print(num, 'is not a prime number') 
            break 
    else:
        print(num, 'is a prime number')
else:
    print(num, 'is not a prime number')

5 is a prime number

In [27]:
# write a python program to print all prime numbers in an interval

n1 = 5
n2 = 25 
li = []
for j in range(n1, n2+1):
    if j == 1:
        #print('not prime')
        pass
    elif j > 1:
        for i in range(2, j):
            if j % i == 0:
                #print('not prime')
                break
        else:
            li.append(j)
            #print('prime')
    else:
        #print('not prime')
        pass
li

[5, 7, 11, 13, 17, 19, 23]

# palindrome
A string is said to be a palindrome if the reverse of the string is the same as the string. e.g. radar.

In [28]:
temp = 16461
reverse = 0 
while temp > 0 :
    remainder = temp % 10
    reverse = (reverse*10) + remainder 
    temp = temp //10 
reverse

16461

In [29]:
s = 'radar'
rev = ''.join(reversed(s))
s == rev

True

In [30]:
'radar' == 'radar'[::-1]

True

In [1]:
def is_palindrome(string):
    string = string.lower()
    left = 0 
    right = len(string)-1
    while left < right:
        if string[left] != string[right]:
            return False
        left += 1
        right -= 1
    return True

is_palindrome('RAdaR')

True

# Armstrong 

In case of an Armstrong number of 3 digits, the sum of cubes of each digit is equal to the number itself. 
153 = 1*1*1 + 5*5*5 + 3*3*3

In [31]:
num = 407 
sm = 0 
temp = num 
while temp >0:
    digit = temp % 10 
    sm += digit **3 
    temp //= 10 
num == sm

True

# anagrams 

Two strings are said to be anagram if we can form one string by arranging the characters of another string. e.g. race & care.

In [32]:
def check(s1, s2):
    if (sorted(s1) == sorted(s2)):
        print('y')
    else:
        print('n')
check('race', 'care')

y

In [33]:
def ana(s1, s2):
    return set(s1) == set(s2)
ana('elvis', 'lives')

True

In [34]:
# Factorial 

fact = 4 
f = 1
for i in range(1, fact+1):
    f = f* i 
f

24

# Fibonacci 

A fibonacci sequence is the integer sequence of 0,1,1,2,3,5,8

The first two terms are 0 and 1. All other terms are obtained by adding the preceding two terms. This means to say the nth term is the sum of (n-1) the and (n-2)th term.

In [35]:
n = 5 
n1, n2 = 0, 1
count = 0
while count < n:
    print(n2)
    nth = n1+n2
    n1 = n2
    n2 = nth
    count += 1

1
1
2
3
5

In [36]:
def fibo(n):
    a, b = 0, 1
    for i in range(n):
        yield b
        a, b=  b, a+b
print(list(fibo(5)))

[1, 1, 2, 3, 5]

In [37]:
# GCD greatest common divisor 

a = 24 
b = 18 
def gcd(a, b):
    if (a == 0):
        return b
    if (b == 0):
        return a 
    if (a==b):
        return a 
    if (a > b):
        return gcd(a-b, b)
    return gcd(a, b-1)

if (gcd(a, b)):
    print('gcd of', a, 'and', b, 'is', gcd(a,b))
else:
    print('not found')

gcd of 24 and 18 is 6

In [38]:
for i in range(1, 6):
    for j in range(1, i):
        print('1 ', end ='')
    print('*')

*
1 *
1 1 *
1 1 1 *
1 1 1 1 *

In [39]:
n=5 
k =n-1
for i in range(0, n):
    for j in range(0, k):
        print(end='1')
    k = k-1
    for j in range(0, i+1):
        print('*', end=' ')
    print('\r')

1111*
111* *
11* * *
1* * * *
* * * * *

In [40]:
for i in range(1,6):
    num = 1 
    for j in range(1, i+1):
        print(num, end=' ')
        num += 1
    print('\r')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [41]:
n = 5 
for i in range(1, n+1):
    for j in range(i):
        print(j+1, end=' ')
    print('\r')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [42]:
num = 1 
for i in range(1, 6):
    for j in range(1, i+1):
        print(num, end=' ')
        num = num+1
    print('\r')

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [43]:
for i in range(1,6):
    print('* ' *i)

*
* *
* * *
* * * *
* * * * *

In [44]:
def upp(text):
    for letter in text:
        print(letter.upper())
upp(['test', 'Python'])

TEST
PYTHON

In [45]:
p = 1000
r =8
t=1
si = (p*r*t)/100 
si+p

1080.0

In [46]:
def test(x, y=[]):
    y.append(x)
    return y 
print(test(1))
print(test(2))

[1]
[1, 2]

In [47]:
numbers= {1:'one', 2:'two', 3:'three'}
for number in numbers.copy():
    if numbers[number] == 'two':
        print(numbers[number])
        del numbers[number]
print(numbers)

two
{1: 'one', 3: 'three'}

In [48]:
# reverse dict

numbers= {1:'one', 2:'two', 3:'three'}
red = {}
for k, v in numbers.items():
    red[v]=k
red

{'one': 1, 'two': 2, 'three': 3}

In [49]:
# map 

li = [5,7,22,97,54,62,77,23,73,61]
fili = list(map(lambda x:x*2, li))
fili

[10, 14, 44, 194, 108, 124, 154, 46, 146, 122]

In [50]:
# filter 

li = [5,7,22,97,54,62,77,23,73,61]
fili = list(filter(lambda x: x%2 ==0, li))
fili

[22, 54, 62]

In [1]:
# sorted lambda 

data = [{'name':'Kishor', 'age':28}, {'name':'shiva', 'age':21}, {'name':'ram', 'age':23}]

sorted_data = sorted(data, key=lambda x:x['age'])
sorted_data

[{'name': 'shiva', 'age': 21},
 {'name': 'ram', 'age': 23},
 {'name': 'Kishor', 'age': 28}]

In [52]:
# Find duplicate 

li = [5,7,61,97,77,62,77,61]
duplicate, seen = set(), set()

for element in li:
    if element in seen:
        duplicate.add(element)
    seen.add(element)
list(duplicate)

[61, 77]

In [53]:
lst= list(range(10)) + list(range(10))
print(lst)
list(set(lst))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
# Get missing number 

l = list(range(100))
l.remove(52)

set(range(l[len(l)-1])[1:])-set(l)

{52}

In [6]:
l = list(range(100))
l.remove(52)
print(len(l))
print([len(l)-1])
print(l[len(l)-1])
print(range(l[len(l)-1])[1:])
print(set(range(l[len(l)-1])[1:]) - set(l))

99
[98]
99
range(1, 99)
{52}

In [134]:
lst = ['kishor', 'vitthal', 'thakre']
k = list(set([j for i in lst for j in i]))
print(k)
print(' '.join(k))

['o', 'i', 'r', 'a', 'h', 't', 'v', 'l', 'e', 'k', 's']
o i r a h t v l e k s

In [57]:
max(3,4)

4

In [58]:
print('next level') if 80>50 else print('repeat level')

next level

In [59]:
def nf(a): return a*a 
print(nf(4))

16

In [60]:
4**0.5  # square root

2.0

In [9]:
# leap year 
y = 2024 

print('yes') if (y % 400 == 0) or (y%100 != 0) and (y % 4 == 0) else print('not leap year')

yes

In [8]:
import calendar 
print(calendar.month(2024, 12))

   December 2024
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

In [20]:
from datetime import datetime
a = datetime.now()
a.strftime('%H:%M:%S')

'00:01:13'

In [14]:
import time

t = time.localtime()
current_time = time.strftime("%H:%M:%S", t)
print(current_time)

00:01:00

In [63]:
# find vowels from string 
def get_vowels(vw):
    return [i for i in vw if i in 'aeiou']

get_s1 = 'hello'
get_vowels(get_s1)

['e', 'o']

In [64]:
# convert comma separated list to a string. 

favorite_prog = ['Python', 'SQL', 'GO']
', '.join(favorite_prog)

'Python, SQL, GO'

In [65]:
get_capital = 'python programming'
get_capital.title()

'Python Programming'

In [66]:
def baz(): return 'BAZ'
baz()

'BAZ'

In [67]:
# Is is possible to add an object to the global namespace, for eg. by using globals() or dir()?

In [68]:
def insert_into_global_namespace(var_name, value):
    globals()[var_name] = value

insert_into_global_namespace('my_obj', 'an object')
print(my_obj)
#rint(f'my_obj = {my_obj}')

an object

In [69]:
def insert_into_namespace(name, value, name_space=globals()):
    name_space[name]=value
    
insert_into_namespace('var', 'an object')
print(var)

an object

In [70]:
class Myclass:
    @staticmethod
    def foo():
        print('hi')
    @staticmethod
    def bar():
        Myclass.foo()
print(Myclass.bar())

hi
None

In [71]:
class Myclass:
    @classmethod
    def foo(cls):
        print('hi')
    @classmethod
    def bar(cls):
        Myclass.foo()
print(Myclass.bar())

hi
None

In [72]:
class Programming:
    def name(self, name):
        return name 

p = Programming()
print(p.name('k'))
print(p.__class__.__name__)

k
Programming

In [73]:
class Programming:
    def name(self, name):
        return name 

p = Programming()
print(type(p).__name__)

Programming

In [74]:
n = 1500
a = 40 
b = 20 
d = 0.4 * n 
h = 0.2 * n 
gs = (n+d)+h
gs

2400.0

# The distance between two cities (in km.) is input through the keyboard. Write a program to convert and print this distance in meters, feet, inches and centimeters.

In [75]:
n = 2 
m = n*1000
cm = m *100 

inch = cm/2.54
f = inch/12
print(m, cm, inch, f)

2000 200000 78740.15748031496 6561.679790026246

In [76]:
fr = float(input('Enter the Temperature:'))
cent = 5.0/9.0 *(fr-32)
print('Temperature in centigrade=', cent)

Enter the Temperature:100
Temperature in centigrade= 37.77777777777778

In [77]:
li = [10, 2, 1, 3, 30, 20]
li.index(max(li))

4

In [1]:
tp = (1,3,7,8,7,5,4,7,6,8,5)
x = tp.count(7)
print(x)

l = [1,3,7,8,7,5,4,7,6,8,5]
t = (*l, )
print(t.count(7))

3
3

In [5]:
def m(e):
    return (len(e))
cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']
cars.sort(key=m)
cars

['VW', 'BMW', 'Ford', 'Mitsubishi']

In [79]:
def myf(e):
    return len(e)
cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']
cars.sort(key=myf)
cars

['VW', 'BMW', 'Ford', 'Mitsubishi']

In [80]:
l = [1,3,7,8,7,5,4,7,6,8,5]
ch_iterator = iter(l)
print(next(ch_iterator))
print(next(ch_iterator))
print(next(ch_iterator))

1
3
7

map, list, reduce are higher order functions

# map 
The map function applies a function to each element in a sequence and returns a new sequence and return a new sequence containing the transformed elements. the map function has the following syntax:
map(function, iterable)
(used to efficency purpose)

In [81]:
l = [1,2,3,4,5,6,7,8]
def cube(x):
    return x*x*x
nl = list(map(cube, l))
nl

[1, 8, 27, 64, 125, 216, 343, 512]

In [82]:
# using lambda
nn = list(map(lambda x: x*x*x, l))
nn

[1, 8, 27, 64, 125, 216, 343, 512]

The filter function filters a sequence of elements based on a given predicate (a function that returns a boolean value) and return a new sequence containing only the elements that meet the predicate. The filter function has the following syntax:
filter(predicate, iterable)

In [83]:
def filt(x):
    return x > 4
fn = list(filter(filt, l))
fn

[5, 6, 7, 8]

In [84]:
ff = list(filter(lambda x:x>4, l))
ff

[5, 6, 7, 8]

# reduce 
The reduce function applies the functin to the first two elements in the iterable and then applies the function to the result and the next element, and so on. The reduce return the final result.

In [136]:
from functools import reduce 

l = [1,2,3,4,5]
def sm(x, y):
    return x+y
rn = reduce(sm, l)
rn

15

In [86]:
rr = reduce(lambda x, y: x+y, l)
rr

15

In [87]:
import copy 

li1 = [1,2,[3,5], 4]
li2 = copy.deepcopy(li1)
print('The original elements before deep copying')
print(li1)

print('\r')
li2[2][0] = 7
print('The new list of elements after deep copying')
print(li2)
    
print('\r')
print('The original elements before deep copying')
print(li1)

The original elements before deep copying
[1, 2, [3, 5], 4]

The new list of elements after deep copying
[1, 2, [7, 5], 4]

The original elements before deep copying
[1, 2, [3, 5], 4]

In [88]:
li1 = [1,2,[3,5], 4]
li2 = copy.copy(li1)
print('The original elements before shallow copying')
print(li1)
    
print('\r')
li2[2][0] = 7
print('The new list of elements after shallow copying')
print(li2)
print(li1)

The original elements before shallow copying
[1, 2, [3, 5], 4]

The new list of elements after shallow copying
[1, 2, [7, 5], 4]
[1, 2, [7, 5], 4]

In [89]:
# generator 
def mg(n):
    value = 0 
    while value < n:
        yield value
        value += 1
        
for v in mg(3):
    print(v)
print()
generator = mg(3)
print(next(generator))
print(next(generator))
print(next(generator))

0
1
2

0
1
2

In [90]:
# Program showing a use of property() function 

class Geeks:
    def __init__(self):
        self._age = 0 
        
    # function to get value of _age 
    def get_age(self):
        print('getter method called')
        return self._age
 
    # functin to set value of _age 
    def set_age(self, a):
        print('setter method called')
        self._age = a 
        
    # function to delete _age attribute 
    def del_age(self):
        del self._age 
        
    age = property(get_age, set_age, del_age)
    
mark = Geeks()
mark.age = 10 
mark.age

setter method called
getter method called

10

In [91]:
a, _, b = (1, 3, 5)
a, b

(1, 5)

In [92]:
a, *_, b = (7,6,5,4,3,2,1)
a, b

(7, 1)

In [93]:
l = [7,6,5,4,3,2,1]
k =  tuple(l)
a, *_, b = k
a, b

(7, 1)

In [94]:
# even len string 
n="geeks for geek"
s = n.split(' ')
l = list(filter(lambda x: (len(x)%2==0), s))
l

['geek']

In [95]:
[x for x in s if len(x) %2==0]

['geek']

# MOVE zeros

In [1]:
def move_zeroes_to_beginning(arr, n):
    count = n-1
    for i in range(n-1, 0, -1):
        if arr[i] != 0 :
            arr[i], arr[count] = arr[count], arr[i]
            count = count - 1
    return arr
arr = [0, 7, 1, 2, 0, 3, 0]
move_zeroes_to_beginning(arr, len(arr))

3 0
2 0
1 0
7 0

[0, 0, 0, 7, 1, 2, 3]

In [97]:
def move_zeroes_to_end(arr, n):
    count = 0
    for i in range(n):
        if arr[i] != 0 :
            arr[count], arr[i] = arr[i], arr[count]
            count += 1
    return arr

arr = [0, 7, 1, 2, 0, 3, 0]
move_zeroes_to_end(arr, len(arr))

[7, 1, 2, 3, 0, 0, 0]

In [98]:
a = 'kishor'
a.startswith('k')

True

In [99]:
a.endswith('r')

True

# remove vowels from

In [137]:
s = 'ram mohan Sharma'
n = []
for i in list(s):
    if i not in ('aeiou'):
        n.append(i)
''.join(n)

'rm mhn Shrm'

In [101]:
vowels = ['a','e','i','o','u'] 
result = [letter for letter in s if letter.lower() not in vowels] 
result = ''.join(result) 
print(result)

rm mhn Shrm

In [102]:
import re
s = 'ram mohan Sharma'
re.sub('[aeiouAEIOU]','',s)

'rm mhn Shrm'

# Subarray, Subsequence and Subsets in Python

An array is a collection of values stored in a continuous block of memory. A subarray is a portion of that array, also stored continuously. In other words, a subarray is any consecutive part of the original array.

In [103]:
def subarrays(arr):
    n = len(arr)
    result = []
    for i in range(n):
        for j in range(i+1, n+1):
            result.append(arr[i:j])
    return result

arr = [1, 2, 3]
subarrays(arr)

[[1], [1, 2], [1, 2, 3], [2], [2, 3], [3]]

What is Subsequence ?
A subsequence is different from a subarray. While a subarray is a contiguous portion of an array, a subsequence is a sequence of elements from the array that may or may not be consecutive. In other words, a subsequence can be formed by selecting certain elements from the array, in the same order as they appear in the original array, but the selected elements dont have to be next to each other

In [104]:
def Subsequence(arr):
    n = len(arr)
    result = [[]]
    for i in range(n):
            result += [sa +[arr[i]] for sa in result]
    return result

arr = [1, 2, 3]
Subsequence(arr)

[[], [1], [2], [1, 2], [3], [1, 3], [2, 3], [1, 2, 3]]

What is Subset ?
A subset is a collection of elements that are part of a larger set or array. Unlike a subarray, which must be a contiguous sequence of elements from the original array, a subset can contain any combination of elements from the original array, in any order.

In [105]:
def Subset(arr):
    result = [[]]
    for i in arr:
        result += [sa + [i] for sa in result]
    return result

arr = [1, 2, 3]
Subset(arr)

[[], [1], [2], [1, 2], [3], [1, 3], [2, 3], [1, 2, 3]]

In [106]:
original_string = "P@y#h0n i5 Aw3s0m3!"
modified_string = ''.join([i.swapcase() if i.isalpha() else i for i in original_string])

print(modified_string)

p@Y#H0N I5 aW3S0M3!

In [107]:
# matrix multiplication
import numpy as np

# take a 3x3 matrix
A = [[12, 7, 3],
    [4, 5, 6],
    [7, 8, 9]]

# take a 3x4 matrix
B = [[5, 8, 1, 2],
    [6, 7, 3, 0],
    [4, 5, 9, 1]]

# result will be 3x4

result= [[0,0,0,0],
        [0,0,0,0],
        [0,0,0,0]] 
result = np.dot(A,B)
result

array([[114, 160,  60,  27],
       [ 74,  97,  73,  14],
       [119, 157, 112,  23]])

In [108]:
matrix_a = [[1, 2],
            [3, 4]]

matrix_b = [[5, 6],
            [7, 8]]

result = [[0, 0],
          [0, 0]]

for i in range(len(matrix_a)):
    for j in range(len(matrix_b)):
        result[i][j] = (matrix_a[i][0] * matrix_b[0][j] 
                        +
                       matrix_a[i][1] * matrix_b[1][j])
result

[[19, 22], [43, 50]]

In [109]:
# take a 3x3 matrix
A = [[12, 7, 3],
    [4, 5, 6],
    [7, 8, 9]]

# take a 3x4 matrix    
B = [[5, 8, 1, 2],
    [6, 7, 3, 0],
    [4, 5, 9, 1]]
    
result = [[0, 0, 0, 0],
        [0, 0, 0, 0],
        [0, 0, 0, 0]]

# iterating by row of A
for i in range(len(A)):
        # iterating by column by B 
    for j in range(len(B[0])):
            # iterating by rows by B 
        for k in range(len(B)):
            result[i][j] += A[i][k] * B[k][j]

for r in result:
    print(r)

[114, 160, 60, 27]
[74, 97, 73, 14]
[119, 157, 112, 23]

In [110]:
result[0][2]

60

In [111]:
# Collection Counter from Scratch.

list1 = ['x', 'y', 'z', 'x', 'x', 'x', 'y', 'z', 'p', 'p', 'z'] 
d = {} 
for i in list1: 
    if i in d: 
        d[i] += 1 
    else: 
        d[i] = 1 
        print(d)

{'x': 1}
{'x': 1, 'y': 1}
{'x': 1, 'y': 1, 'z': 1}
{'x': 4, 'y': 2, 'z': 2, 'p': 1}

In [112]:
# Most frequent word in an array of strings

def mostFrequentWord(arr, n):
    freq = 0 
    res = ""
    for i in range(n):
        count = 0 
        for j in range(i+1, n):
            if arr[i] == arr[j]:
                count += 1
        if count >= freq:
            res = arr[i]
            freq = count

    print(res)
    print(freq)
    
arr = [ "geeks", "for", "geeks", "a", "portal", "to", "learn", "can", "be", "computer", "science", "zoom", "yup", "fire", "in", "be", "data", "geeks",]
n = len(arr)
mostFrequentWord(arr, n)

geeks
2

In [113]:
string = "Python Programming"
string[::-1]

'gnimmargorP nohtyP'

1. Write a program to find HCF of two numbers by without using recursion.

Input format:

The first line contains any 2 positive numbers separated by space.

Output format:

Print the HCF of given two numbers.

Sample Input:

70 15

Sample Output:

5

In [2]:
m = 24
n = 36
while m != n:
    if m>n:
        m = m-n
    else:
        n = n-m
print(m)

12

#### Program to Change Decimal Number to Binary?

In [3]:
def decToBinary(n):
        # array to store binary number
    binaryNum = [0] * n

    # counter for binary array
    i = 0;
    while (n > 0): 

        # storing remainder in binary array
        binaryNum[i] = n % 2
        n = int(n / 2)
        i += 1

    # printing binary array in reverse order
    for j in range(i - 1, -1, -1):
        print(binaryNum[j], end = "")

n = 16
decToBinary(n)

10000

In [3]:
"""  ,                       . 

: 

 :  = [, , , , , , , ] 
 =  
 :       

 :  = [, , , , , , , ]
 = 
 :       """

L = [1, 2, 3, 4, 5, 6, 7, 8, 9]

check_element = lambda element: 'Element is Present in the list' if element in L else 'Element is NOT Present in the list'
element1 = 9
element2 = 12

print(check_element(element1))
print(check_element(element2))s

Element is Present in the list
Element is NOT Present in the list

In [4]:
"""      ,         ?   ?

In Python, a lambda function is an anonymous function that can have any number of arguments but only one expression. It is defined using the lambda keyword, followed by parameters, a colon, and the expression that returns a value.

:
lambda arguments: expression

: Lambda functions are usually unnamed (i.e., they don't need to be assigned to a variable, though they can be).

 : The body of a lambda function can only contain one expression, and it automatically returns the result of that expression.

  - :  Typically used in situations where a full function definition is not necessary.

  :

 
 
 
 
"""

"      ,         ?   ?\n\nIn Python, a lambda function is an anonymous function that can have any number of arguments but only one expression. It is defined using the lambda keyword, followed by parameters, a colon, and the expression that returns a value.\n\n:\nlambda arguments: expression\n\n: Lambda functions are usually unnamed (i.e., they don't need to be assigned to a variable, though they can be).\n\n : The body of a lambda function can only contain one expression, and it automatically returns the result of that expression.\n\n  - :  Typically used in situations where a full function definition is not necessary.\n\n  :\n\n \n \n \n \n"

In [6]:
 #           ?
    
def longest_word(sentence):
	words = sentence.split()
	longest = max(words, key=len)
	return longest 
	
sentence = "The quick brown fox jumped over the lazy dog"
longest = longest_word(sentence)
print(longest)

jumped