In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('test1').getOrCreate()
spark

In [3]:
names = ['Ricky', 'Bunny', 'Coco']
ages = [10, 15, 20]

df = spark.createDataFrame(zip(names, ages), ['name', 'age'])
df.show()

+-----+---+
| name|age|
+-----+---+
|Ricky| 10|
|Bunny| 15|
| Coco| 20|
+-----+---+

In [4]:
data = {'Name': names, 'Age':ages}
list(zip(data.values()))

[(['Ricky', 'Bunny', 'Coco'],), ([10, 15, 20],)]

In [5]:
data = {'Name': names, 'Age':ages}
df1 = spark.createDataFrame(list(zip(*data.values())), schema=list(data.keys()))
df.show()

+-----+---+
| name|age|
+-----+---+
|Ricky| 10|
|Bunny| 15|
| Coco| 20|
+-----+---+

In [6]:
print(*data)
print(*data.values())
print(list(zip(*data.values())))

Name Age
['Ricky', 'Bunny', 'Coco'] [10, 15, 20]
[('Ricky', 10), ('Bunny', 15), ('Coco', 20)]

In [7]:
names = ['Ricky', 'Bunny', 'Coco']
ages = [10, 15, 20]
country = ['India', 'UK', 'USA']

df = spark.createDataFrame(zip(names, ages, country), ['name', 'age', 'Country'])
df.show()

+-----+---+-------+
| name|age|Country|
+-----+---+-------+
|Ricky| 10|  India|
|Bunny| 15|     UK|
| Coco| 20|    USA|
+-----+---+-------+

In [8]:
students = [("Ricky", 10, "English"), ("Bunny", 15, "Mathematics"), ("Coco", 20, "Arts")]

# Create DataFrame out of list of tuples.
df4 = spark.createDataFrame(students, ["Name", "Age", "Subject"])
df4.show()

+-----+---+-----------+
| Name|Age|    Subject|
+-----+---+-----------+
|Ricky| 10|    English|
|Bunny| 15|Mathematics|
| Coco| 20|       Arts|
+-----+---+-----------+

In [10]:
from pyspark.sql.types import *

student1 = ["Ricky",10,"India"]
student2 = ["Bunny", 15,"UK"]
student3 = ["Coco", 20, "USA"]

# Define the schema
schema = StructType([
    StructField("Name", StringType(), True),
    StructField("Age", IntegerType(), True),
    StructField("Country", StringType(), True)
])

# Convert lists of Data into tuples
data = [tuple(student1),
        tuple(student2),
        tuple(student3)]

# Create a DataFrame
df5 = spark.createDataFrame(data, schema=schema)
df5.show()

+-----+---+-------+
| Name|Age|Country|
+-----+---+-------+
|Ricky| 10|  India|
|Bunny| 15|     UK|
| Coco| 20|    USA|
+-----+---+-------+

In [11]:
data

[('Ricky', 10, 'India'), ('Bunny', 15, 'UK'), ('Coco', 20, 'USA')]