In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType
import pyspark.sql.functions as func

In [3]:
spark = SparkSession.builder.appName('FirstApp').getOrCreate()

In [4]:
myschema = StructType([StructField('userID', IntegerType(), True),
                      StructField('name', StringType(),True),
                      StructField('age', IntegerType(), True),
                      StructField('friends',IntegerType(), True)])

In [5]:
df = spark.read.format('csv').schema(myschema).option('path', 'fakefriends.csv').load()
df.show(5)

+------+--------+---+-------+
|userID|    name|age|friends|
+------+--------+---+-------+
|     0|    Will| 33|    385|
|     1|Jean-Luc| 26|      2|
|     2|    Hugh| 55|    221|
|     3|  Deanna| 40|    465|
|     4|   Quark| 68|     21|
+------+--------+---+-------+
only showing top 5 rows

In [10]:
output = df.select(df.userID, df.name, df.age, df.friends)\
           .where(df.age < 30)\
           .withColumn('insert_ts',func.current_timestamp()).orderBy(df.userID)

In [11]:
output.count()

112

In [12]:
output.createOrReplaceTempView('peoples')

In [13]:
spark.sql('select name, age, friends, insert_ts from peoples').show()

+--------+---+-------+--------------------+
|    name|age|friends|           insert_ts|
+--------+---+-------+--------------------+
|Jean-Luc| 26|      2|2024-07-27 23:23:...|
|    Hugh| 27|    181|2024-07-27 23:23:...|
|  Weyoun| 22|    323|2024-07-27 23:23:...|
|   Miles| 19|    268|2024-07-27 23:23:...|
|  Julian| 25|      1|2024-07-27 23:23:...|
|     Ben| 21|    445|2024-07-27 23:23:...|
|  Julian| 22|    100|2024-07-27 23:23:...|
|     Nog| 26|    281|2024-07-27 23:23:...|
| Beverly| 27|    305|2024-07-27 23:23:...|
|    Morn| 25|     96|2024-07-27 23:23:...|
|   Brunt| 24|     49|2024-07-27 23:23:...|
|     Nog| 20|      1|2024-07-27 23:23:...|
| Beverly| 19|    269|2024-07-27 23:23:...|
|   Brunt| 19|      5|2024-07-27 23:23:...|
|  Geordi| 20|    100|2024-07-27 23:23:...|
|  Geordi| 21|    477|2024-07-27 23:23:...|
|  Kasidy| 22|    179|2024-07-27 23:23:...|
|   Brunt| 20|    384|2024-07-27 23:23:...|
|     Ben| 28|    311|2024-07-27 23:23:...|
|    Worf| 24|    492|2024-07-27 23:23:...|
+--------+---+-------+--------------------+
only showing top 20 rows

In [1]:
spark.stop()

NameError: name 'spark' is not defined